# Ignore virtual environment files.
.venv/

# Ignore cached python files.
__pycache__

# Ignore compiled Python files.
*.pyc

# Ignore mypy cached files.
.mypy_cache/

# Ignore PyInstaller output files.
*.egg-info
build
dist

# Ignore external dependencies.
ext